* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    background-color: #3a405f4f;
    font-size: 16px;
}

nav {
    background-color: rgb(38, 37, 41);
    color: bisque;
    text-align: center;
}

footer {
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contact-info {
  display: flex;
  grid-template-columns: auto 1fr;
  grid-gap: 100px;
  align-items: center;
  justify-content: center;

}

a {
    text-decoration: none;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.button-container .btn {
  width: 200px;
  height: 75px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: rgb(38, 37, 41);
  height: 50px; /* Dostosuj wysokość do własnych preferencji */
}

.flex-item {
  display: flex;
  align-items: center;

      color: bisque;
      text-align: center;
}

p {
  margin: 0; /* Usunięcie marginesów dla paragrafu */
}

i {
  margin-right: 5px; /* Dodatkowy margines między ikoną a tekstem */
}

.email-address {
  margin-right: 200px; /* Dodatkowy margines poziomy dla adresu e-mail */
}
