<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
           rel="stylesheet"
           integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
           crossorigin="anonymous">
     <title>Food Orders - Full Stomach</title>
     <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/87ad05a667.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" th:href="@{/css/customer.css}">
<!--     <link rel="stylesheet" href="../static/css/customer.css">-->
</head>
<body>
<nav>
     <h1><b>Check your Cart and make an Order!</b></h1>
</nav>
<div class="container">
     <h2><b>Purchase List</b></h2>
     <table class="table table-striped">
          <thead class="table-primary">
          <th>RESTAURANT</th>
          <th>DETAILS</th>
          <th></th>
          <th></th>
          <th></th>
          <th>COMMENT</th>
          </thead>
          <tbody>
          <tr th:each="order: ${orderRequests}">
               <td th:text="${order.restaurant.name}"></td>
               <td colspan="4">
                    <table class="table mb-0 ml-auto table-bordered">
                         <thead class="table-secondary">-->
                         <tr>
                              <th>NAME</th>
                              <th>TYPE</th>
                              <th>QUANTITY</th>
                              <th>PRICE</th>
                              <th>TOTAL COST</th>
                              <th>IMAGE</th>
                              <th></th>
                              <th></th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr th:each="item: ${order.orderItems}">
                              <td th:text="${item.food.name}"></td>
                              <td th:text="${item.food.foodType}" ></td>
                              <td th:text="${item.quantity}"></td>
                              <td th:text="${item.food.price}"></td>
                              <td th:text="${item.totalCost}"></td>
                              <td>
                                   <a
                                         th:if="${item.food.foodImageAsBase64 != null}">
                                        <img th:src="|data:image/png;base64,${item.food.foodImageAsBase64}|" width="100" height="100"/>
                                   </a>
                                   <a th:if="${item.food.foodImageAsBase64 == null}">No pic</a>
                              </td>
                              <td>
                                   <form action="#"
                                         th:action="@{/customer/{id}/updateCart(id=${customerId})}"
                                         th:method="PUT"
                                         th:object="${foodToUpdate}">
                                        <div class="form-group">
                                             QUANTITY: <input type="number" th:field="*{quantity}" required min="1" class="small-number-picker"/>
                                             <input type="hidden" name="orderItemId"  th:value="${item.orderItemId}" />
                                             <button type="submit" class="btn btn-secondary">UPDATE</button>
                                        </div>
                                   </form>
                              </td>
                              <td>
                                   <form action="#"
                                         th:action="@{/customer/{id}/updateCart/delete/{orderItemId}
                                         (id=${customerId}, orderItemId=${item.orderItemId})}"
                                         th:method="DELETE">
                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                   </form>
                              </td>
                         </tr>
                         </tbody>
                    </table>
               </td>
               <td>
                    <div class="center-items">
                    <form action="#"
                          th:action="@{/customer/{id}/makeAnOrder(id=${customerId})}"
                          th:object="${foodsToOrder}" th:method="POST">
                         <div class="form-group">
                              <textarea th:field="*{customerComment}" rows="7" cols="30" placeholder="Add your comment"></textarea>
                              <input type="hidden" name="restaurantId"  th:value="${order.restaurant.restaurantId}" />
                              <div th:each="item : ${order.orderItems}">
                                   <input type="hidden" name="orderItemsId" th:value="${item.orderItemId}">
                              </div>
                              <button type="submit" class="btn btn-success custom" >ORDER</button>
                         </div>
                    </form>
                    </div>
               </td>
          </tr>
          <b>Orders</b>
          </tbody>
     </table>
</div>
<br>
<br>
<div class="button-container">
     <a th:href="@{/customer/{id}(id=${customerId})}" class="btn btn-info" role="button"><= Customer Home Page</a>
</div>
<br>
<br>
</div>
<div class="button-container">
     <a th:href="@{/}" class="btn btn-primary" role="button">Go back to the main page</a>
</div>
<br>

<footer id="flex-container">
     <div class="flex-item">
          <p>
               <i class="fas fa-envelope"></i>
               <span class="email-address">piotrjavatestowy@gmail.com</span>
          </p>
          <p>
               <i class="fab fa-github"></i>
               <a href="https://github.com/dudapiotr90/food_orders" target="_blank">GitHub</a>
          </p>
     </div>
</footer>
</body>
</html>