<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <title>Food Orders - Full Stomach</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/87ad05a667.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/local_manager.css}">
  <link rel="stylesheet" href="../static/css/local_manager.css">
</head>

<body>
<header>
  <nav>
    <h1>Modify menu as you please</h1>
  </nav>
</header>
<br>
<div class="container">
  <h3>Add Menu Position</h3>
</div>
<div class="container">
  <form action="#"
        th:action="@{/owner/{id}/manage/{restaurantId}/modifyMenu/add(restaurantId=${restaurantId}, id=${ownerId})}"
        th:method="POST"
        th:object="${food}">
    <div class="form-group">
      NAME: <input type="text" th:field="*{name}"/>
      FOOD TYPE: <input type="text" th:field="*{foodType}"/>
      PRICE: <input type="text" th:field="*{price}"/>

      <br>
      <br>
      DESCRIPTION:
      <div>
            <textarea id="newDescription" th:field="*{description}" rows="7"
                      cols="100"></textarea>
      </div>
    </div>
    <br>
    <div class="form-group">
      <input type="submit" value="Add menu position!" class="btn btn-success custom-button"/>
    </div>
  </form>
</div>

<br>
<br>
<div class="container">
  <h3>Update Menu Position</h3>
</div>
<div class="container">
  <form action="#"
        th:action="@{/owner/{id}/manage/{restaurantId}/modifyMenu/updateFood(restaurantId=${restaurantId}, id=${ownerId})}"
        th:method="PUT"
        th:object="${food}">
    <div class="form-group">
      ID: <input type="text" th:field="*{foodId}"/>
      NAME: <input type="text" th:field="*{name}"/>
      FOOD TYPE: <input type="text" th:field="*{foodType}"/>
      PRICE: <input type="text" th:field="*{price}"/>

      <br>
      <br>
      DESCRIPTION:
      <div>
            <textarea id="description" th:field="*{description}" rows="7"
                      cols="100"></textarea>
      </div>
    </div>
    <br>
    <div class="form-group">
      <input type="submit" value="Update menu position" class="btn btn-success custom-button"/>
    </div>
  </form>
</div>

<br>
<div class="button-container">
  <a th:href="@{/owner/{id}(id=${ownerId})}" class="btn btn-info" role="button"> <= Owner Home Page</a>
</div>
<br>
<br>
<div class="button-container">
  <a th:href="@{/}" class="btn btn-primary fixed" role="button">Go back to the main page</a>
</div>
<br>

<footer id="flex-container">
  <div class="flex-item">
    <p>
      <i class="fas fa-envelope"></i>
      <span class="email-address">piotrjavatestowy@gmail.com</span>
    </p>
    <p>
      <i class="fab fa-github"></i>
      <a href="https://github.com/dudapiotr90/food_orders" target="_blank">GitHub</a>
    </p>
  </div>
</footer>
</body>
</html>