<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <title>Food Orders - Full Stomach</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/87ad05a667.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/registration.css}">
<!--  <link rel="stylesheet" href="../static/css/registration.css">-->
</head>
<body>
<script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var confirm_password = document.getElementById("confirm_password").value;

      if (password !== confirm_password) {
        alert("Passwords do not match!");
        return false;
      }
      return true;
    }
</script>
  <header>
    <nav>
      <h1>Welcome in registration page!</h1>
      <h2>Please fill in the form below</h2>
    </nav>
  </header>
  <div>
  <form action="#" th:action="@{/registration}" th:object="${registrationRequestDTO}" method="POST"
        onsubmit="return validateForm();">

    <div class="container text-center">
      <div class="row align-items-start">

        <div class="col">
          <div class="container text-center">
            <div class="row mt-2">
              <div class="col-md-5">
                  <label for="name" style="display: block; text-align: left;">Name:</label>
              </div>
              <div class="col-md-5">
                <input type="text" id="name" th:field="*{userName}"  required>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-5">
                <label for="surname" style="display: block; text-align: left;">Surname:</label>
              </div>
              <div class="col-md-5">
                <input type="text" id="surname" th:field="*{userSurname}"  required>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="login" style="display: block; text-align: left;">Login:</label>
            </div>
            <div class="col-md-5">
              <input type="text" id="login" th:field="*{userLogin}" required>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="password" style="display: block; text-align: left;">Password:</label>
            </div>
            <div class="col-md-5">
              <input type="password" id="password" th:field="*{userPassword}" required>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="password" style="display: block; text-align: left;">Confirm Password:</label>
            </div>
            <div class="col-md-5">
              <input type="password" id="confirm_password" th:field="*{userConfirmPassword}" required>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="email" style="display: block; text-align: left;">Email:</label>
            </div>
            <div class="col-md-5">
              <input type="email" id="email" th:field="*{userEmail}" required>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="phone" style="display: block; text-align: left;">Phone:</label>
            </div>
            <div class="col-md-5">
              <input type="text" id="phone" th:field="*{userPhone}" placeholder="+xx xxx xxx xxx" required>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="city" style="display: block; text-align: left;">City:</label>
            </div>
            <div class="col-md-5">
              <input type="text" id="city" th:field="*{userAddressCity}" required>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="postalCode" style="display: block; text-align: left;">Postal code:</label>
            </div>
            <div class="col-md-5">
              <input type="text" id="postalCode" th:field="*{userAddressPostalCode}" required>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-5">
              <label for="street" style="display: block; text-align: left;">Street:</label>
            </div>
            <div class="col-md-5">
              <input type="text" id="street" th:field="*{userAddressStreet}" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h3>What type of account do you want to have?</h3>
    <div class="container text-center">
      <label for="role">Account type:</label>
      <select id="role" th:field="*{role}">
        <option th:each="availableRole : ${availableRoles}"
        th:value="${availableRole}"
        th:text="${availableRole}"></option>
      </select>
    </div>
    <div class="container text-center">
      <br>
      <div class="form-group">
        <input type="submit" value="Register" class="btn btn-success">
      </div>
    </div>
  </form>

  <br>

  <p>
    <div class="button-container">

      <a th:href="@{/}" class="btn btn-primary" role="button">Go back to the main page</a>
    </div>

  </div>
</p>
  <footer id="flex-container">
    <div class="flex-item">
      <p>
        <i class="fas fa-envelope"></i>
        <span class="email-address">piotrjavatestowy@gmail.com</span>
      </p>
      <p>
        <i class="fab fa-github"></i>
        <a href="https://github.com/dudapiotr90/food_orders" target="_blank">GitHub</a>
      </p>
    </div>
  </footer>
</body>
</html>

